body{
    padding: 25px;
}

ul{
    list-style: none;
    padding: 0px;
}

a{
    text-decoration: none;
    color: #425F57;
}

a:hover{
    color: #749F82;
}

.weather-app{
    font-family: 'Poppins', sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    border: 1px #425F57 solid;
    border-radius: 4px;
}


.link-details{
    font-size: 13px;
    text-align: center;
}

.active{
    color: #749F82;
    cursor: default;
}

.weather-forecast{
    text-align: center;
}

.min-temp{
    opacity: 0.6;
}

.forecast-icon{
    display: block;
    margin: 0 auto;
    width: 42;
}

#degrees, #celsius, #fahrengheit, #line{
    font-size: 25px;
}